body {
  text-align: center;
  font-family: Arial, sans-serif;
  background-color: rgb(135, 206, 214);
}

.calculatrice {
  width: 220px;
  margin: 0 auto;
  border: 1px solid #000000;
  border-radius: 5px;
  padding: 10px;
  background-color: #f1f1f1;
}

.resultat {
  margin-bottom: 10px;
  padding: 10px;
  font-size: 24px;
  font-weight: bold;
  text-align: right;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 5px;
}

.button {
  padding: 10px;
  font-size: 18px;
  text-align: center;
  background-color: #eee;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
}

.operation {
  background-color: #ff9f00;
  color: #fff;
}

#btn-equal {
  background-color: #007bff;
  color: #fff;
}
